<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; padding: 20px;">
        <h1>Hello <%= firstName %> <%= lastName %>!</h1>
        <hr>
        <h3>Welcome to Wooden street !!!</h3>
        <small>&copy; 2025 WoodenStreet</small>
    </div>
</body>
</html>